<footer>
    <div class="foot-info">
        <div class="footer-left">
            <span>&copy; BnBreeze Private Limited</span>
            <div class="foot-info-links">
                <a href="/privacy">Privacy</a> ·
                <a href="/terms">Terms</a> ·
                <a href="/sitemap">Sitemap</a> ·
                <a href="/conpany-details">Company Details</a>
            </div>
        </div>

        <div class="footer-right">
            <div class="foot-info-socials">
                <a href="#" aria-label="Visit our Facebook page"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="#" aria-label="Visit our Instagram page"><i class="fa-brands fa-square-instagram"></i></a>
                <a href="#" aria-label="Visit our LinkedIn page"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
    </div>
</footer>