<% layout("layouts/boilerplate") %>

<body>
<div id="filter-tax-switch-container">
    <div class="filters-container">
        <div class="filter">
            <i class="fa-solid fa-mountain-sun"></i>
            <small>Amazing Views</small>
        </div>
        <div class="filter">
            <i class="fa-solid fa-fire"></i>
            <small>Trending</small>
        </div>
        <div class="filter">
            <i class="fa-solid fa-mug-hot"></i>
            <small>Bed & Breakfasts</small>
        </div>
        <div class="filter">
            <i class="fa-regular fa-snowflake"></i>
            <small>Arctic</small>
        </div>
        <div class="filter">
            <i class="fa-solid fa-campground"></i>
            <small>Camping</small>
        </div>
        <div class="filter">
            <i class="fa-solid fa-person-swimming"></i>
            <small>Amazing Pools</small>
        </div>
        <div class="filter">
            <i class="fa-brands fa-fort-awesome"></i>
            <small>Castles</small>
        </div>
    </div>

    <div class="tax-toggle-container">
        <div class="form-check-reverse form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" onclick="texSwitchToggle()">
            <label class="form-check-label" for="flexSwitchCheckDefault">Display total before taxes</label>
        </div>
    </div>
</div>


<div class="card-container row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4">

    <% for (const listing of allListings) { %>
        <div class="col">
            <a href="/listings/<%= listing._id %>" class="listing-link">
                <div class="card listing-card h-100">
                    <img
                            src="<%= listing.image.url %>"
                            class="card-img-top"
                            alt="Card Image" />

                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <h6 class="card-title fw-bold"><%= listing.title %></h6>
                        <p class="card-text">
                            &#8377;<%= listing.price.toLocaleString("en-IN") %><span> for <small>2 days</small></span>
                            <small><i class="tax-info">&nbsp;&nbsp;&nbsp;&nbsp;+18% GST</i></small>
                        </p>
                    </div>
                </div>
            </a>
        </div>
    <% } %>
</div>
</body>