body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

/* Navbar */
.navbar {
  height: 5rem;
}

.navbar-logo {
    width: 200px;
    height: auto;
    margin-right: 2.5rem;
}

.nav-link {
  color: #222222;
}

.search-box {
  border-radius: 1.25rem;
  box-shadow: 0 0 0.1rem 0.1rem lightgray;
}
.search-box:hover {
  border-color: lightgray;
  box-shadow: 0 0 0.1rem 0.1rem lightgray;
  background-color: #ebebeb;
}
.search-box:focus {
  border-color: lightgray;
  box-shadow: 0 0 0.1rem 0.1rem lightgray;
  background-color: initial;
}
.search-box::placeholder {
  font-size: small;
  color: gray;
}

.search-btn {
  border: 1px solid lightgray;
  border-radius: 1.25rem;
  display: flex;
  align-items: center;
  color: white;
  background-color: #144272;
  padding: 0.5rem 0.75rem;
}
.search-btn:focus, .fa-magnifying-glass:focus {
  color: #144272;
  background-color: white;
}


.navbar-nav.fw-bold.ms-auto {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.navbar-nav.fw-bold.ms-auto a {
    border-radius: 50px;
    font-size: 0.9vw;
    text-transform: uppercase;
    position: relative;
    transition: all ease 0.4s;
    overflow: hidden;
    letter-spacing: 2px;
    text-decoration: none;
    color: #144272;
    z-index: 9;
}

.navbar-nav.fw-bold.ms-auto a:hover {
    color: #226fc1;
}

.navbar-nav.fw-bold.ms-auto a::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #ebebeb;
    left: 0;
    bottom: -100%; /* Start below the link */
    border-radius: 50%;
    transition: all ease 0.4s;
    z-index: -1; /* Place it behind the text */
}

.navbar-nav.fw-bold.ms-auto a:hover::after {
    bottom: 0; /* Move to fill the link */
    border-radius: 0;
}


/* Footer */
.foot-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
  height: auto;
  text-align: center;
  padding: 1rem 0 1.5rem;
}

.foot-info-socials,
.foot-info-links {
  width: 100%;
}

.foot-info-socials i {
  font-size: 1.25rem;
  margin: 0.5rem;
}

.foot-info-links a {
  text-decoration: none;
  color: #222222;
}

.foot-info-links a:hover {
  text-decoration: underline;
}

/* Cards */
.listing-link {
  text-decoration: none;
}

.listing-card {
  border: none !important;
  margin: 0 0.75rem 1rem;
  padding: 0;
}

.card-img-top {
  border-radius: 0.75rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text {
  font-weight: 600 !important;
}

.card-text span {
  font-weight: normal !important;
}

/* Card Overlay Effect on Card */
.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.25;
  background-color: rgba(255, 255, 255, 0.5);
}

/* Add New Listing Form */
.add-new-listing-btn {
  background-color: #144272 !important;
}

/* Edit Listing Form */
.edit-listing-btn {
  background-color: #144272 !important;
}

/* Show Listing Page */
.show-img {
  height: 30dvh;
}